doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css') 
    script(type='text/javascript', src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
  
  body
    block content



